@model Entity.Comment

<form action="http://@Request.Url.Authority/Details/add_comment" method="post">

    @Html.LabelFor(model => model.Nickname, htmlAttributes: new { @class = "form-control" })
    @Html.EditorFor(model => model.Nickname, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(model => model.Nickname, "", new { @class = "text-danger" })

    @Html.TextAreaFor(model => model.yorum)
    @Html.ValidationMessageFor(model => model.yorum, "", new { @class = "text-danger" })

    <button type="button" class="btn btn-default pull-right">
        Gönder
    </button>
</form>
